<!DOCTYPE html>
<html  ng-app="codeExecApp">
  <head>
    <title>CodeExec</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

  </head>

  <body ng-controller="RootController">
    <%= yield %>
  </body>
  <%= javascript_include_tag 'application' %>
  <script type="text/javascript">
    if (typeof ace !== 'undefined') {
      ace.config.set('basePath', "<%= asset_url 'assets/ace', skip_pipeline: true %>");
    }
  </script>
</html>
